package views

import (
	"github.com/benallen-dev/comment-server/pkg/data"
)

templ NoComments() {
	<p></p>
}

templ Comment(comment data.Comment) {
	<div>
		<div id="comment-meta" class="text-sm text-stone-500">
			{ comment.Author } &lt;{ comment.Email }&gt; @ { comment.DateTime }
		</div>
		<div id="comment-text">
			{ comment.Text }
		</div>
	</div>
}

templ Comments(comments []data.Comment) {
	for _, item := range comments {
		@Comment(item)
	}
}
